{
    "PORT":3000,
    "SYNC_SECRET": "",
    "FIREBASE_PRIVATE_KEY_ID": "",
    "FIREBASE_PRIVATE_KEY": "",
    "FIREBASE_CLIENT_EMAIL": "",
    "FIREBASE_CLIENT_ID": "",
    "FIREBASE_PROJECT_ID": ""
}
